<!DOCTYPE html>
<html>
<head>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>

  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="homeloggedin.html"><img src="https://s30.postimg.org/neu0u14tt/Capture.png" alt="logo" style="width:20%"></a>
    </div>
    
    <ul class="nav navbar-nav navbar-right">
        <li><a href="userinfo.html">User Info</a></li>
        <li><a href="logout">Log out</a></li>
    </ul>
      
  </div><!-- /.container-fluid -->
</nav>
<div class="modal-body row" style = "margin-top: 50px">
  <div class="col-md-6">
    <center>
    <p>
        <img src="https://s28.postimg.org/r3mivmujx/Capture.png" alt="Today's Item" style="width:400px;height:100px">
    </p>
    <img src="https://i1.wp.com/hypebeast.com/image/2016/05/adidas-yeezy-boost-350-beluga-1.jpg?quality=95&w=1024" alt="Beluga Yeezy Boost 350" style="width:304px;height:228px;">
    <h3 style=color:#6a6a6b>
      Beluga Yeezy Boost 350
    </h3>
    </center>
   </div>
   
  <div class="col-md-6">
    <p>
    <img src="https://s27.postimg.org/ic2myyx9v/Capture.png" alt="Current blds" style="width:400px;height:100px">   
    </p>
       <table class = "table" style = "width:500px">
         <center>
         <thead>
            <td>Username</td>
            <td>Amount bidded</td>
        </center>
         </thead>

         {% for row in rows %}
            <tr>
               <td>{{row["username"]}}</td>
               <td>{{row["bid"]}}</td>
            </tr>
         {% endfor %}
      </table>
    
    <form action="{{ url_for('bidmore')}}" method="post">
        <fieldset style="margin-top: 50px">
            <div class="form-group">
                <button class="btn btn-default" type="submit">bid more</button>
            </div>
        </fieldset>
    </form>

  </div>
</div>
  
</p>
</body>
