<!DOCTYPE html>
<html>
<head>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<title>dibs</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">

</head>


<style>
body,h1 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
.bgimg {
    background-image: url();
    min-height: 100%;
    background-position: center;
    background-size: cover;
}
</style>
<body>
  <div class="bgimg w3-display-container w3-animate-opacity">

  <div class="w3-bar w3-white">
      <div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
        <div class="w3-display-topleft w3-padding-large w3-xlarge">
          <a class ="logo" href='/homeloggedin'><font color= '#e89c8d'>dibs</font></a>
        </div>
      </div>
    <a href="/logout" class="w3-bar-item w3-button w3-right w3-padding-16">Log Out</a>
  </div>

  <div>
    <img src = "{{ product_image }}"  alt="chainsmokers" style="float:left;width:600px;height:400px;margin-top:60px;margin-left:70px;">
  </div>
  <div style="background-color:#e89c8d;color:black;padding:20px;width:600px;float:right;margin-right:30px;margin-top:20px">
  <h2>Chainsmokers Concert</h2>
  <p>Chainsmokers is coming to Bridgeport blah blah blah blah blah blahblah blah blahblah blah blahblah blah blahblah blah blahblah blah blahblah blah blahblah blah blah</p>
  <p>Call dibs on these concert tickets by entering the bid. To see the current top bidders, click on the bids section.</p>
  <h2 style="margin-top:20px;margin-right:280px">Top bidders</h2>
  <table class = "table" style = "width:300px;float:right;margin-top:10px;margin-right:240px">
      <thead>
        <td>Username</td>
        <td>Amount bidded</td>
        {% for row in rows %}
          <tr>
             <td>{{row["username"]}}</td>
             <td>{{row["bid"]}}</td>
          </tr>
        {% endfor %}
      </thead>
  </table>
  <p>Entrance Fee: $2</p>
  Call dibs to join!
  <div class="w3-bar w3-white" style="width:60px;float:right">
    <a href="/bids" class="w3-bar-item w3-button w3-right w3-padding-16">dibs</a>
  </div>
</div>
<p style="float:left;margin-top:20px;margin-left:70px">*For this month, all profit will be donated to Yale Children's hospital.</p>
</body>
</html>
