<!DOCTYPE html>
<html>
<head>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<title>dibs</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">

</head>


<style>
body,h1 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
.bgimg {
    background-image: url('http://3.bp.blogspot.com/-v8HKM6pLoDw/UUcDvKBw7BI/AAAAAAAAIXo/ZrVfRdhMdmw/s1600/IMG_0269.JPG');
    min-height: 100%;
    background-position: center;
    background-size: cover;
}
</style>
<body>
  <div class="bgimg w3-display-container w3-animate-opacity">

  <div class="w3-bar w3-white">
      <div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
        <div class="w3-display-topleft w3-padding-large w3-xlarge">
          <a class ="logo" href='/'><font color= '#e89c8d'>dibs</font></a>
        </div>
      </div>
    <a href="/register" class="w3-bar-item w3-button w3-right w3-padding-16" style="padding-right:20px">Register</a>
    <a href="/login" class="w3-bar-item w3-button w3-right w3-padding-16">Log in</a>
  </div>

  <div class="w3-display-middle">
    <!--<h1 class="w3-jumbo w3-animate-top"><font color ='#e89c8d'>DOES ALTRUISM EXIST?</font></h1> -->
    <h1 class="w3-jumbo w3-animate-top w3-center"><font color ='#c9897c'>This is dibs.</font></h1>
    <hr class="w3-border-black" style="margin:auto;width:60%">
    <p class="w3-large w3-center">14 days left</p>
</div>
</body>
</html>
